.user-heading{
    color:#fff;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

.user-heading-span{
    color: #ffff00;
}

.user-container{
    background-color: #323232;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #000;
    height: 100%;
}

.user-code-text{
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.user-data-container{
    display:flex;
    flex-wrap: wrap;
}

.user-loading{
    color: #fff;
}
