<!DOCTYPE html>
<html>
<head>
    <title>Backend</title>
</head>
<body style="background-color: #343434; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="width:fit-content; padding:20px; display: flex; flex-direction: column; justify-content: center; align-items: center; border:1px solid #ccc; border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <h1 style="color: white;">Hii, I am Flask API</h1>
        <p style="color: white; font-size: 1rem;">I have multiple endpoints to serve your backend requests.</p>
        <div style="display: flex; flex-direction: column; width: 100%; justify-content: center; ">
            <p style="padding: 5px; background-color: #484848; border-radius: 10px; color: white; font-size: 1rem; width: fit-content;">/test-details</p>
            <p style="padding: 5px; background-color: #484848; border-radius: 10px; color: white; font-size: 1rem; width: fit-content;">/send-image</p>
            <p style="padding: 5px; background-color: #484848; border-radius: 10px; color: white; font-size: 1rem; width: fit-content;">/user-data</p>
            <p style="padding: 5px; background-color: #484848; border-radius: 10px; color: white; font-size: 1rem; width: fit-content;">/all-tests</p>
            <p style="padding: 5px; background-color: #484848; border-radius: 10px; color: white; font-size: 1rem; width: fit-content;">/update-interval-or-duration</p>
            <p style="padding: 5px; background-color: #484848; border-radius: 10px; color: white; font-size: 1rem; width: fit-content;">/validate-creds</p>
        </div>
    </div>
</body>
</html>